body {
	background-image: url(./images/coffee-1030971.jpg);
	background-color: #cccccc;
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
	width: 80%;
	font-family: Open Sans, sans-serif;
	color: #FFF;
}

#main-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    position: absolute;
    top: 5em;
    left: 0;
    width: 100%;
    height: 80%;
}

#navbar ul {
	list-style-type: none;
	text-align: center;
	position: relative;
}

#navbar li {
	font-family: Open Sans Condensed, sans-serif;
	text-transform: uppercase;
	display: inline-block;
	padding-left: 2em;
	padding-right: 2em;
	vertical-align: middle;
	font-size: 180%;
}

#navbar a {
	color: #FFF;
	text-decoration: none;
	position: relative;
}

#navbar a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#navbar a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#news {
	width: 25%;
	position: relative;
	left: 13.5em;
	margin-top: 2em;
}

#news h1 {
	font-family: Open Sans Condensed, sans-serif;
	text-transform: uppercase;
	font-size: 150%;
	text-decoration: none;
	font-weight: 300;
}

#news h2 {
	font-size: 120%;
}

#news p {
	font-size: 100%;
}

#news ul {
	list-style-type: none;
	padding-left: 0;
}

#news li {
}

#news a {
	color: #FFF;
}

#some {
	display: flex;
	bottom: 0;
	justify-content: center;
	position: absolute;
	width: 100%;
}

#some ul {
	list-style-type: none;
	position: relative;
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 0;
}

#some li {
	display: inline-block;
	margin-left: 0;
	padding-left: 0;
}

#some p {
	margin-top: 0;
}